:root {
  --IBM0: #000000; /* black */
  --IBM1: #648FFF; /* light blue */
  --IBM2: #DC267F; /* pink */
  --IBM3: #FFB000; /* yellow */
  --IBM4: #785EF0; /* purple */
  --IBM4light: #ebe8fd;
  --IBM4mid: #c4b9f8;
  --IBM5: #FE6100; /* orange */
  --IBM100: #FFFFFF; /* white */
}

@media screen and (max-width: 400px) {
  .navbar a{
    float: none;
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .main h1{
    width: 98%;
  }
  .main h2{
    width: 98%;
  }
  .main p{
    width: 98%;
  }
}

#small-space {
  margin-bottom: 3cm;
}

blockquote {
  margin-left: 20%;
}

html {
  /* background-color: var(--IBM4light); */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white;
}

article #title {
  display: none;
}

.main {
  margin-left: 10px;
  margin-right: 10px;
}

.main h1{
  font-size: 140%;
  font-weight: normal;
  color: var(--IBM4);
}

.main h2{
  font-size: 105%;
  font-style: normal;
  font-weight: normal;
  color: var(--IBM4);
}

.main p{
  font-size: 100%;
}

.header {
  padding: 10px;
  /* text-align: center; */
  /* background: var(--IBM4); */
  /* color: var(--IBM4); */
}

.navbar {
  overflow: hidden;
  /* background-color: var(--IBM100); */
}

.navbar a {
  float: left;
  display: block;
  color: var(--IBM3);
  text-align: left;
  padding: 10px 10px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  /* background-color: var(--IBM4mid); */
  opacity: 0.5;
  color: var(--IBM3);
}

.navbar a:focus {
  background-color: white;
  opacity: 1;
  color: var(--IBM3);
}

a {
  color: var(--IBM3);
}

a:hover {
  opacity: 0.5;
  color: var(--IBM3);
}

a:focus {
  color: var(--IBM3);
}

a:visited {
  color: var(--IBM3);
}

.footer {
  /* color: white; */
  padding: 10px;
  text-align: right;
  /* background: var(--IBM4); */
}

* {
  box-sizing: border-box;
}
